<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>If you would like to see the API documentation page, please click <a href="https://sei-project-2-yvonne.herokuapp.com/api/">here </a></p>
  </body>
</html>
