.SignupPage {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
header {
  text-align: center;
  padding: 5px;
  margin-bottom: 17px;
  /* margin-left: 35px; */
  /* margin-right: 35px; */
  font-family: Ozxgen, sans-serif;
  font-size: 40px;
}

h1 {
  color:rgb(84, 170, 219);
  font-size:32px;
}

.form {
  margin: 5%;
}


.lottie {
  /* background-color:rgb(216, 237, 253); */
  margin-left: 6%;

}

.space{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cancel{
  background-color: white;
  color:white;
  padding:6px;
  border: grey;
}

.cancel:hover, .cancel:visited{
  background-color:rgb(230, 249, 252);
}
/* section{
  position: relative;
  width:50%;

}

.img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}


.buttonstyle{
  display: grid;
  color: white;
  background-color: #647DFF;
  border-radius: 2px;
  font-size: 15px;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;

}

section:hover .img {
  opacity: 0.2;
}

section:hover .buttonstyle {
  opacity: 1;
} */
