.inner {
    display: flex;
    /* flex-flow: column nowrap; */
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.CreateRequestPage{
  margin: 0;
}

.col-sm-12{
  width:120%;
}


.buttonstyle{
  display: inline-block;
  margin: 10px 20px;
  border: none;
  color: white;
  background-color: #647DFF;
  border-radius: 2px;
  font-size: 15px;
}

/* 
.lottie {
  position:relative;
  right:15%;
} */


header {
  text-align: center;
  padding: 5px;
  margin-bottom: 17px;
  /* margin-left: 35px; */
  /* margin-right: 35px; */
  font-family: Ozxgen, sans-serif;
  font-size: 40px;
}

h1 {
  color:rgb(84, 170, 219);
}

form label{
  color: rgb(68, 68, 68);
}