.NavBar{
    /* box-shadow: inset 0 -1px #d1d1d1; */
    background-color:  #3d4852;

}


.navtab{
    display:inline-flex;
    align-items: right;
    text-align:right;
    color: white;
    font-size: 18px;

}

li {
    display: inline-block;
    list-style: none;
    padding: 20px 0px 5px 32px;
    
}



.NavBar-link:visited {
    color: white;
}
.NavBar-link:hover, .NavBar-link:active{
    color: rgb(184, 184, 184);
    text-decoration: underline;
    
}


.NavBar-link {
    color: white;
    background-color: transparent;
}