.App {
  text-align: center;
  background-color: white;

}
.container{
  margin-top: 4%;
  margin-bottom: 15%;
  justify-content: center;
}

.logo {
  width: 50%;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:white;
  min-height: 35vh;
  font-size: calc(49px + 5vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #3d4852;
  margin-bottom:0px;
  /* font-family: 'Lora', serif; */
  font-weight: 700;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sticky-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align:right;
  line-height: 30px;
  background-color:#3d4852;
  color: white;
  padding-right: 10px;
  margin-top:20px;
  font-size: 14px;
}


/* Change defaults */
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: 0;
  outline-offset: 0;
}

/* a:active {
  background-color: transparent!important;
} */