.urgent{
    font-size:20px;
    color: white;
    font-weight: 600;
    padding:5px;
    background-color:#ff5252;
    position:absolute;
    left:3%;
    top: 4%;
}

p{
    font-size:19px;
    padding: 3px;
}


.card {
    width: 50vw;
}
.card .card-title{
    font-weight:600;
}



.card-action button{
    margin:10px 15px;
}