img {
    width: 50vw;
    height:auto;
}

.HomePage {
    text-align: center;
    display:flex;
    align-items:center;
    margin:0 auto;
}

.container{
    /* display: block; */
    margin-top: 3%;
    margin-right: 17%;
    /* align-items: center; */
}
p {
    font-family: 'Lobster';
    font-size: 23px;
    padding:2%;
    width:50vw;
}

span{
    font-size: 33px;
}

button{
    position:relative;
    left:8%;
    margin-top: 5%;
    border: none;
    color: white;
    background-color: rgb(75, 94, 202);
    border-radius: 2px;
    font-size: 20px;
    padding: 20px;
}

button:hover{
    background-color:rgb(162, 167, 238);
}

.NavBar-link {
    color: white;
}

.NavBar-link:hover, .NavBar-link:active, .NavBar-link:visited{
    color:white;
    font-weight: normal;
}