img {
    width: 60vw;
    height:auto;
}

.HomePage {
    text-align: center;
    /* display:flex; */
    align-items:center;
    margin:0 auto;
}

.card{
    display: inline-block;
}

.container2{
    /* display: block; */
    margin-top: 3%;
    /* margin-right: 17%; */
    
    /* align-items: center; */
}

#homearticle{
    /* font-family: 'Lobster'; */
    font-size: 23px;
    width: 60vw;
    padding: 4% 10%;
    font-family: 'Segoe UI';
    font-weight: 500;
}

span{
    font-size: 33px;
    /* font-family: 'Lobster'; */
}

button{
    position:relative;
    margin-top: 5%;
    border: none;
    color: white;
    background-color: rgb(75, 94, 202);
    border-radius: 2px;
    font-size: 20px;
    padding: 20px;
}

button:hover{
    background-color:rgb(162, 167, 238);
}

.NavBar-link {
    color: white;
}

.NavBar-link:hover, .NavBar-link:active, .NavBar-link:visited{
    color:white;
    font-weight: normal;
}